page-feed {
    .title_header{
        font-size: 2rem;
        font-weight: bold;
        color: #f90;
    }
    .text_date{
        font-size: 1.3rem;
        font-weight: 300;
        color: #333;
    }
    .text_feed{
        font-size: 1rem;
        font-weight: 300;
        color: #333;
    }
}
