page-intro {
    .intro_slide{
        img{
            width: 230px;
        }
        h2{
            font-size: 1.7rem;
            color: #f90;
            text-transform: uppercase;
        }
        p{
            font-size: 1.2rem;
            color: #ccc;
        }
    }
}
